<DIV id=scoreboard><IMG alt="" border=0 height=50 src="8.GIF" width=30><IMG alt="" border=0 height=50 src="7.GIF" width=30><IMG alt="" border=0 height=50 src="6.GIF" width=30><IMG alt="" border=0 height=50 src="3.GIF" width=30><IMG alt="" border=0 height=50 src="0.GIF" width=30> 
</DIV>
<DIV id=scoretext><FONT color=white face=Arial size=+3>Score</FONT> </DIV>
