<!----------------  Spin Button    ------------------->
<DIV id=spin_butt><A href="#" onclick="slot_rand(slot_array, score_array)"><IMG alt="" border=0 height=60 src="spin.GIF" width=150></A> </DIV>

<!----------------  Spin Count    ------------------->
<div id="spin_count">
<img src="0.GIF" width=30 height=50 alt="" border="0"><img src="0.GIF" width=30 height=50 alt="" border="0">
</div>
